@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}    
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222327;

}
.navigation
{
    position: relative;
    width: 400px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.navigation ul
{
    display: flex;
    width: 350px;

}
.navigation ul li
{
    list-style: none;
    position: relative;
    /*350/5 = 70*/
    width: 70px;
    height: 60px;
    z-index: 2;
}
.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    


}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
    color: #222327;
}
.navigation ul li.active a .icon
{
    transform: translateY(-32px);
    color: #a8066a;
}
.navigation ul li a .text
{
    position: absolute;
    background: #a8066a;
    color: #fff;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
   transform: translateY(15px);
}
.navigation ul li.active a .text
{
    transform: translateY(-4px);
    opacity: 1;
}
.indicator
{
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 5px;
    left: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 15px 18px #fff;
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px #fff;
}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px*0));
}
.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px*1));
}
.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px*2));
}
.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px*3));
}
.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px*4));
}
